CONFIG_ENV_OFFSET=0xC0000
CONFIG_DM_GPIO=y
CONFIG_DEFAULT_DEVICE_TREE="realtek/rts4930a-evb"
CONFIG_SYS_LOAD_ADDR=0x80000000
CONFIG_TARGET_ASIC=y
CONFIG_RTS493xA_DDR_1866=y
CONFIG_FIT=y
CONFIG_HUSH_PARSER=y
CONFIG_CMD_GPIO_READ=y
CONFIG_OF_CONTROL=y
CONFIG_RTS_GPIO=y
